type gril_antenna_tuning_service, service_manager_type, hal_service_type;
type touch_context_service, service_manager_type, hal_service_type;
type screen_protector_detector_service, service_manager_type, hal_service_type;
