allow vendor_init thermal_link_device:dir r_dir_perms;
allow vendor_init thermal_link_device:lnk_file r_file_perms;
userdebug_or_eng(`
  allow vendor_init debugfs_thermal:file w_file_perms;
')
